<h1>Welcome to your boring show page</h1>

<%= @user.username %><br>

<%= link_to  "Create Character", new_user_character_path(@user) %><br>
<%= link_to  "Create Canpaign", new_campaign_path(@user) %>
