<h1>Welcome to your boring show page <%= @user.username %><br></h1>



<%= link_to  "<button>View Your Characters</button>".html_safe, user_characters_path(@user) %><br>

<%= link_to  "<button>Create Character</button>".html_safe, new_user_character_path(@user) %><br>

<%= link_to  "<button>Create Adventure</button>".html_safe, new_adventure_path(@user) %>
