<h1>Welcome to your boring show page <%= @user.username %><br></h1>



<%= link_to  "View Your Characters", user_characters_path(@user) %><br>

<%= link_to  "Create Character", new_character_path(@user) %><br>

<%= link_to  "Create Adventure", new_adventure_path(@user) %>
