<h1>Welcome to,  <%= @adventure.name %></h1>

<% @adventure.campaigns.each do |campaign| %>
   <%= link_to campaign.name, campaign_path(campaign) %> <br>
   <%end%>


<%= link_to  "Create New Campaign", new_adventure_campaign_path(@adventure) %>