<h1><%= current_user.username %>'s Character List</h1>

<ul>
<% current_user.characters.each do |character| %>

   <li><%= link_to  character.name, character_path(character) %> 
    <%end%>

    </ul>