// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
   text-align: center;
}

//  .mainDivright {
//   text-align: center;
// }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }